@import url("https://fonts.googleapis.com/css?family=PT+Sans");

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  font-family: "PT Sans";
  background-color: black;

  .card {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    width: auto;
    height: auto;
  }

  .card .poster {
    position: relative;
    overflow: hidden;
  }

  .card .poster:before {
    content: "";
    position: absolute;
    bottom: -190px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #000 50%, transparent);
    transition: 0.5s;
    z-index: 1;
  }

  .card:hover .poster:before {
    bottom: 0;
  }

  .card .poster img {
    width: 100%;
    transition: 0.5s;
  }

  .card:hover .poster img {
    filter: blur(2px);
    transform: translateY(-30px);
  }

  .details {
    position: absolute;
    padding: 20px;
    width: 100%;
    height: 74%;
    bottom: -190px;
    left: 0;
    box-sizing: border-box;
    transition: 0.5s;
    z-index: 2;
  }

  .card:hover .details {
    bottom: 0;
  }

  .details h2 {
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 20px;
  }

  .details h2 span {
    font-size: 14px;
    color: #ff9800;
  }

  .info {
    color: #fff;
    margin-top: 10px;
  }

  .tags {
    position: relative;
    margin-top: 5px;
    padding: 2px 5px;
    margin-right: 2px;
    color: #fff;
    display: inline-block;
    border-radius: 4px;
  }

  .tags {
    background: #be1bf0;
  }

  .star {
    position: relative;
  }

  .runtime {
    margin: 10px 0 0;
    padding: 0;
    display: flex;
    color: rgb(72, 255, 0);
  }
  .star {
    margin: 10px 0 0;
    padding: 0;
    display: flex;
    color: white;
  }
  .heart-wrapper {
    width: 70px;
    height: 70px;
    margin-top: 500px;
    position: relative;
    border-radius: 50px;
    margin: auto;
  }

  .fa-heart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: red;
    transition: 1s;
  }
  .background-heart::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f004";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 38px;
    color: red;
    transition: 1s;
    z-index: -1;
    animation: fill-heart 1s;
  }

  .background-heart::before {
    content: "";
    width: 60px;
    height: 60px;
    opacity: 0.2;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 200px;
    animation: circle-expand 1s;
  }

  @keyframes fill-heart {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
  @keyframes circle-expand {
    0% {
      width: 60px;
      height: 60px;
      opacity: 1;
    }
    40% {
      width: 0px;
      height: 0px;
      opacity: 0.2;
    }
    80% {
      width: 60px;
      height: 60px;
      opacity: 0.2;
    }

    100% {
      width: 60px;
      height: 60px;
      opacity: 0.2;
    }
  }
}
